# Prestage

## FIRST: Install psycopg2 for connection with PostgreSQL

In [ ]:
!pip install psycopg2

## SECOND: Create engine to connect with PostgreSQL to write tables
## N.B.: Please fill username, password & database name

In [37]:
from sqlalchemy import create_engine
# default setup: ('postgresql://postgres:pass@localhost:5432/postgres')
engine = create_engine('postgresql://username:password@localhost:5432/database')

## THIRD: Connect Python with PostgreSQL via ODBC

In [36]:
# default setup: ('postgresql://postgres:pass@localhost:5432/postgres')
import psycopg2
try:
    conn = psycopg2.connect("dbname = 'postgres' user = 'username' host = 'localhost' password = 'pass' port = '5432'")
except:
    print ("Database connection unsuccessful")

# Task 1

## Stage 1: Import to SQL

### Importing dataframes from Excel

In [19]:
import pandas as pd
bond_description = pd.read_excel('bond_description.xlsx', sheet_name = 'bond_discription')
base_prices1 = pd.read_excel('base_prices.xlsx', sheet_name = 'base1')
base_prices2 = pd.read_excel('base_prices.xlsx', sheet_name = 'base2')
bond_description_fields = pd.read_excel('bond_description.xlsx', sheet_name = 'bond_filds')
bond_description_instrs = pd.read_excel('bond_description.xlsx', sheet_name = 'instrs')
base_prices_fields = pd.read_excel('base_prices.xlsx', sheet_name = 'fields')
base_prices_instrs = pd.read_excel('base_prices.xlsx', sheet_name = 'instrs')

### Concating dataframes to one

In [14]:
base_prices = pd.concat([base_prices1, base_prices2])

### Lowering case in columns

In [20]:
bond_description.columns = [c.lower() for c in bond_description.columns]
base_prices.columns = [c.lower() for c in base_prices.columns]
bond_description_fields.columns = [c.lower() for c in bond_description_fields.columns]
bond_description_instrs.columns = [c.lower() for c in bond_description_instrs.columns]
base_prices_fields.columns = [c.lower() for c in base_prices_fields.columns]
base_prices_instrs.columns = [c.lower() for c in base_prices_instrs.columns]

### Importing tables to PostgreSQL

In [1]:
bond_description.to_sql("bond_description", engine)
base_prices.to_sql("base_prices", engine)
bond_description_fields.to_sql("bond_description_fields", engine)
bond_description_instrs.to_sql("bond_description_instrs", engine)
base_prices_fields.to_sql("base_prices_fields", engine)
base_prices_instrs.to_sql("base_prices_instrs", engine)

NameError: name 'bond_description' is not defined

## Stage 2: Normalizing Data

### Fetching Bond Parameters data from SQL database (slow fetching to Pandas)

In [2]:
import pandas as pd
bond_description = pd.read_sql_query("SELECT * FROM bond_description", conn)

In [3]:
bond_description.head()

,index,"isin, regcode, nrdcode",fintooltype,sec_type_id,sectypenamerus_nrd,sectypenameeng_nrd,sec_type_br_code,sectypenamebr_nrd,cfi,securitytype,...,summarketvol_nrd,firstcoupondate_nrd,begmtydate,planmtydate_nrd,endmtydate,endmtydate_m,endmtydate_nrd,daysall,daysall_m,daysall_nrd
0,0,XS1092320099,Облигация,NaT,None,None,BON7,Облигации прочих нерезидентов,DYFXXR,ЕвроКорп,...,200000.0,NaN,NaN,43691.0,2019-08-14,3.0,43691.0,1826.0,3.0,1826.0
1,1,RU000A0JQ6N0,Облигация,NaT,None,None,None,None,None,Корп,...,NaN,NaN,40347.0,NaN,2010-12-17,2.0,NaN,546.0,2.0,NaN
2,2,RU000A0JPB17,Облигация,NaT,None,None,None,None,None,Корп,...,NaN,NaN,NaN,NaN,2012-06-14,2.0,NaN,1820.0,2.0,NaN
3,3,RU000A0JNFW1,Облигация,NaT,None,None,None,None,None,Корп,...,NaN,NaN,NaN,NaN,2011-06-28,2.0,NaN,1820.0,2.0,NaN
4,4,RU000A0JQVP5,Облигация,NaT,None,None,None,None,None,Корп,...,NaN,NaN,NaN,NaN,2013-05-16,2.0,NaN,1092.0,2.0,NaN

### Calculating the share of field filled vs. N/As

In [4]:
bond_desc_fields_filled_share = (len(bond_description.index)-bond_description.isnull().sum())/(len(bond_description.index))

In [5]:
bond_desc_fields_filled_share.hist(bins=20)

### Subdivide the columns into ones with share filled is <10% and >10%

In [6]:
bond_desc_to_drop = ((bond_desc_fields_filled_share.sort_values()).where(bond_desc_fields_filled_share < 0.1)).dropna()
bond_desc_not_dropped = (((bond_desc_fields_filled_share.sort_values()).where(bond_desc_fields_filled_share > 0.1)).dropna()).drop(labels=['isin, regcode, nrdcode', 'index'])

### To-be dropped Columns

In [7]:
bond_desc_to_drop

registraracctype_nrd        0.000000
registraracctypedate_nrd    0.000000
facialacc_nrd               0.000000
acc_open_date_nrd           0.000000
registrar_nrd               0.000340
sec_type_id                 0.003060
sectypenamerus_nrd          0.003060
sectypenameeng_nrd          0.003060
isin144a                    0.009181
firstcoupondate_nrd         0.009521
guaranteeamount             0.024141
bondstructuralpar           0.024821
guarantval                  0.037742
securitization              0.052023
progfintoolid               0.078205
dtype: float64

### Creating and writing to Database a table without dropped fields

In [34]:
bond_desc_new_clean = bond_description
for i in bond_desc_to_drop.index:
    bond_desc_new_clean = bond_desc_new_clean.drop(columns = i)

In [40]:
bond_desc_new_clean.to_sql("bond_desc_new_clean", engine)

### Creating and writing to Database a table of dropped fields

In [10]:
bond_desc_new_dropped = bond_description
for i in bond_desc_not_dropped.index:
    bond_desc_new_dropped = bond_desc_new_dropped.drop(columns = i)

In [12]:
bond_desc_new_dropped.to_sql("bond_desc_new_dropped", engine)

### P.S. Low-level fetching to Cursor for faster data processing

In [13]:
# cursor = conn.cursor()
# cursor.execute("""SELECT * from base_prices_instrs LIMIT 20""")
# cursor.fetchall()
# [row[0] for row in cursor.description]

## Stage 3: Find 3 Deals with High Liquidity

### Table 1: Create field delta_lag = ASK in previous date

In [226]:
cursor = conn.cursor()
cursor.execute("""
    create table base_prices_liquidity as 
	select index, 
			id, 
			time,
			ask,
			lead(ask) over w_id,
			lag(ask) over w_id, 
			(ask - lag(ask) over w_id) as delta_lag,
			(lag(id) over w_id) as id_lag
	from base_prices
	WINDOW
	  w_id AS (
		ORDER BY id, time
		ROWS BETWEEN UNBOUNDED PRECEDING
				 AND UNBOUNDED FOLLOWING
	  )
	ORDER BY id, time asc
	;
    """)
conn.commit()

### Table 2: Create field no_deals = 1: when the ask is 0 or delta_lag is 0

In [227]:
cursor = conn.cursor()
cursor.execute("""
    create table base_prices_liquidity_deals as
	select base_prices_liquidity.*,
		  case	
			when ask = 0 then 1
			when ask ISNULL then 1
			when delta_lag = 0 then 1
			when (id_lag <> id and id_lag IS NOT NULL) then 1 
			else 0
		  end as no_deals
	from base_prices_liquidity
	;
    """)
conn.commit()

### Table 3: Create field Share_of_Trade_Days: share of days with no_deals = 0

In [231]:
cursor = conn.cursor()
cursor.execute("""
    create table base_prices_liquidity_deals_grouped as 
	select id, 
			count(id) as count_id,
			sum(no_deals) as no_deals,
			(1 - cast(sum(no_deals) as float) / cast(count(id) as float)) as Share_of_Trade_Days
	from base_prices_liquidity_deals
	group by id
	;""")
conn.commit()

### Table 4: Select IDs with Share_of_Trade_Days > 90%

In [232]:
cursor = conn.cursor()
cursor.execute("""
    create table base_prices_90 as
	select *
	from base_prices_liquidity_deals_grouped
	where Share_of_Trade_Days > 0.9
		;""")
conn.commit()

### Table 5: Join information on the bonds, leave Exchange = 'Московская Биржа / МБ - Основной' only

In [2]:
cursor = conn.cursor()
cursor.execute("""
    create table base_prices_90_names as
	select base_prices_90.*,
			base_prices_instrs.ISIN,
			base_prices_instrs.Exchange,
			base_prices_instrs.FullNameRus,
            base_prices_instrs.CFIName
	from base_prices_90
	left join base_prices_instrs
		on base_prices_90.id = base_prices_instrs.id
	where Exchange = 'Московская Биржа / МБ - Основной' 
			and CFIName like 'Облигации%'
	order by share_of_trade_days DESC
	limit 3
	;""")
conn.commit()

In [14]:
import pandas as pd
base_prices_90 = pd.read_sql_query("select * from base_prices_90_names", conn)

### Stage 3: Result

In [15]:
base_prices_90

,id,count_id,no_deals,share_of_trade_days,isin,exchange,fullnamerus,cfiname
0,1065349,510,25,0.950980,RU000A0JU7L6,Московская Биржа / МБ - Основной,"Территориальная генерирующая компания №2 ОАО, ...",Облигации / Сектор / Корпоративные
1,929217,728,60,0.917582,RU000A0JSQK2,Московская Биржа / МБ - Основной,"Связной Банк ЗАО, Обл.01 - ФБ ММВБ",Облигации / Сектор / Корпоративные
2,1088629,176,16,0.909091,RU000A0JV8P4,Московская Биржа / МБ - Основной,"АФК Система, Бирж. обл.01 - ФБ ММВБ",Облигации / Сектор / Корпоративные

### FYI: SQL Script

create table base_prices_liquidity as 
	select index, 
			id, 
			time,
			ask,
			lead(ask) over w_id,
			lag(ask) over w_id, 
			(ask - lag(ask) over w_id) as delta_lag,
			(lag(id) over w_id) as id_lag
	from base_prices
	WINDOW
	  w_id AS (
		ORDER BY id, time
		ROWS BETWEEN UNBOUNDED PRECEDING
				 AND UNBOUNDED FOLLOWING
	  )
	ORDER BY id, time asc
	;


create table base_prices_liquidity_deals as
	select base_prices_liquidity.*,
		  case	
			when ask = 0 then 1
			when ask ISNULL then 1
			when delta_lag = 0 then 1
			when (id_lag <> id and id_lag IS NOT NULL) then 1 
			else 0
		  end as no_deals
	from base_prices_liquidity
	;

create table base_prices_liquidity_deals_grouped as 
	select id, 
			count(id) as count_id,
			sum(no_deals) as no_deals,
			(1 - cast(sum(no_deals) as float) / cast(count(id) as float)) as Share_of_Trade_Days
	from base_prices_liquidity_deals
	group by id
	;

create table base_prices_90 as 										
	select *
	from base_prices_liquidity_deals_grouped
	where Share_of_Trade_Days > 0.9
		;

												 
create table base_prices_90_names as
	select base_prices_90.*,
			base_prices_instrs.ISIN,
			base_prices_instrs.Exchange,
			base_prices_instrs.FullNameRus
	from base_prices_90
	left join base_prices_instrs
		on base_prices_90.id = base_prices_instrs.id
	where Exchange = 'Московская Биржа / МБ - Основной' 
			and CFIName like 'Облигации%'
	order by share_of_trade_days DESC
	limit 3
	;

# Task 2

## Stage 1: Connecting Python to the database: Please see prestage

## Stage 2.a: Getting List of all Bond Issuers:

In [17]:
import pandas as pd
bond_issuers = pd.read_sql_query("""
                                        SELECT IssuerName,
                                                IssuerName_NRD,
                                                IssuerOKPO,
                                                IssuerUID
                                        FROM bond_description
                                        group by IssuerName,
                                                IssuerName_NRD,
                                                IssuerOKPO,
                                                IssuerUID
                                        """, conn)

In [18]:
bond_issuers.head()

,issuername,issuername_nrd,issuerokpo,issueruid
0,ЛЭКстрой,"ООО ""Л1строй""",52203304.0,89923.0
1,МРСК Урала - Пермэнерго,None,107583.0,7063.0
2,Far East Capital,Far East Capital Limited S.A.,NaN,94757.0
3,Силовые Машины,"ОАО ""Силовые машины""",5030856.0,86944.0
4,Сувар-Казань,None,50613104.0,88482.0

## Stage 2.b: Please enter Issuer Name & Time Stamp as stated below:

In [19]:
from datetime import date
issuer_to_find = input('Please enter Issuer Name to Find: ')
year = int(input('Please enter the year: '))
month = int(input('Please enter the month: '))
day = int(input('Please enter the day: '))
date_to_find = date(year, month, day)

# Система АФК
# datetime.date(2015, 04, 15)

Please enter Issuer Name to Find: Система АФК
Please enter the year: 2015
Please enter the month: 04
Please enter the day: 15

## Stage 2.c: Plotting two graphs: Bar Plot and Pie Chart for the chosen Issuers & Time:

### Selecting ISINs of the chosen Issuer

In [20]:
bond_issuers_isin = pd.read_sql_query("SELECT ISINCode FROM bond_description where IssuerName = %s;", conn, params = [issuer_to_find])

In [21]:
bond_issuers_isin

       isincode
0  RU000A0JRBU5
1  RU000A0JQL30
2  RU000A0JVUK8
3  RU000A0JV8P4
4  RU000A0JPNX8
5  RU000A0JQ9U9

### Select chosen ISINs from Bond Price History Datatable

In [22]:
sql = """SELECT * FROM base_prices where ISIN in ({0})"""
sql = sql.format('%s,' * len(bond_issuers_isin.isincode.tolist()))
print(sql[:-2]+')')

SELECT * FROM base_prices where ISIN in (%s,%s,%s,%s,%s,%s)

In [23]:
base_prices_isin = pd.read_sql_query(sql[:-2]+')', conn, params = tuple(bond_issuers_isin.isincode.tolist()))

### Covert Excel Date Format to Python Date Format

In [24]:
from datetime import datetime

# https://stackoverflow.com/questions/31359150/convert-date-from-excel-in-number-format-to-date-format-python

temp_df = datetime(1900, 1, 1).toordinal() + base_prices_isin['time'] - 2 
for i in range(0, len(temp_df)):
    temp_df.iloc[i] = datetime.fromordinal(temp_df.iloc[i])
    
base_prices_isin['datetime'] = temp_df

for i in range(0, len(temp_df)):
    temp_df.iloc[i] = (temp_df.iloc[i]).date()

base_prices_isin['timetuple'] = temp_df

### All the issues of the Issuer on the chosen Date:

In [25]:
base_prices_isin.loc[base_prices_isin['timetuple'] == date_to_find]

,index,id,time,accruedint,ask,ask_size,ask_size_total,avge_prce,bid,bid_size,...,mprice,mprice2,spread,vol_acc,y2o_ask,y2o_bid,yield_ask,yield_bid,datetime,timetuple
2043,1641735,1088629,42109,25.151,102.74,None,65840.0,102.61,102.51,None,...,102.61,None,0.23,11322.0,15.1664,15.3713,17.1698,17.2136,2015-04-15 00:00:00,2015-04-15
3454,1643430,148790,42109,33.082,92.50,None,44770.0,92.14,91.90,None,...,92.14,None,0.60,580.0,NaN,NaN,14.5852,15.0704,2015-04-15 00:00:00,2015-04-15
4926,1644902,840153,42109,0.451,96.90,None,7206.0,NaN,94.06,None,...,94.29,None,2.84,NaN,NaN,NaN,11.6037,15.3340,2015-04-15 00:00:00,2015-04-15

## Stage 3.d: Please enter ISIN to choose:

In [26]:
ISIN_to_find = input('Please enter ISIN to Find: ')

# RU000A0JV8P4

Please enter ISIN to Find: RU000A0JV8P4

In [27]:
bond_issuers_isin = pd.read_sql_query("SELECT ISINCode, SecurityType, CouponType, HaveOffer FROM bond_description where IssuerName = %s and ISINCode = %s;", conn, params = [issuer_to_find, ISIN_to_find])

### Bond ISIN Code, Security Type, Coupon Type, Have Offer (1 - yes, 0 - no)

In [29]:
bond_issuers_isin

       isincode securitytype  coupontype haveoffer
0  RU000A0JV8P4         Корп  Переменный         1